<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix>
    {{ matPrefix }}
  </mat-icon>
  <input class="mat-mdc-form-field" matInput [formControl]="controller" [matAutocomplete]="auto">
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nome">
      {{ option.nome }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
